* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: gray
}

/* Nav Bar */
nav {
    position: fixed;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background: gray;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    text-decoration: none;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-icon {
    height: 25px;
}

.preview {
    width: 35%;
}

.preview {
    width: 30%;
}

/* Home Section */
#home {
    /* minus approx. nav size */
    height: calc(100vh - 200px - 5vh - 1rem);
    margin: 100px 50px;
    display: grid;
    grid-template-rows: 5fr 0.5fr;
    gap: 2rem;
}

.home-wrapper {
    grid-row: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 3rem;
}

.home-name {
    grid-row: 1;
}

.home-pixel {
    grid-row: 2;
}

.home-title {
    grid-row: 3;
}

.scroll-down {
    grid-row: 2;
    justify-self: center;
    align-self: end;
}

/* About Section */
#about {
    height: 70vh;
    margin: 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.about-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait-wrapper {
    float: left;
}

.about-portrait,
.about-name {
    background: rgba(255, 255, 255, 0.15);
    border: 2px dashed;
    width: 80%;
}

.about-name {
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
}

/* Projects Section */
#projects {
    height: min-content;
    margin: 100px 25px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projects-heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    display: grid;
    grid-template-rows: 1fr 0.7fr 0.3fr;
    gap: 0.5rem;
}

.preview {
    grid-row: 1;
    height: 160px;
    width: 100%;
    object-fit: cover;
}

.project-info {
    grid-row: 2;
}

.project-info > hr {
    background-color: black;
    border: 0;
    height: 1px;
    margin: 5px 0;
}

.project-name {
    grid-row: 1;
}

.project-description {
    margin: 10px 0;
}

.btns {
    grid-row: 3;
    display: flex;
    gap: 1rem;
}

.live-demo,
.github {
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    background: darkgray;
    border-radius: 2px;
    padding: 0 5px;
}

/* Contact Section */

/* Misc Styles */
.hidden {
    display: none;
}
